.wrapper_gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery_line_1 {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 256px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gallery_block_1 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic1.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_2 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic2.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_3 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic3.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_4 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic4.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_line_2 {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 256px;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gallery_block_5 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic5.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_6 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic6.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_7 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic7.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_block_8 {
    display: flex;
    width: 256px;
    height: 256px;
    background-image: url(../img/pic8.jpg);
    background-size: cover;
    background-position: center;
}

.picture_effect:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 1s;
    background-size: 110%;
}


@media (max-width: 680px){
   
    .gallery_line_1 {
        display: flex;
        flex-direction: row;
        width: 512px;
        height: 512px;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .gallery_line_2 {
        display: flex;
        flex-flow: row wrap;
        width: 512px;
        height: 512px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .social-media_link {
        text-decoration: none;
        color: grey;
        font-size: 0.5em;
        font-weight: bold;
        font-variant: small-caps;
        font-family: sans-serif;
    }
}

